.imager .jumbotron{ 
	margin-top:1em;
	background-image: url('assets/backgrounds/hero.jpg');
    background-size: cover;
    padding-top: 10em;
    padding-bottom: 54em;
    color: #ffffff;
}
.container{
	background-color: grey;
}


.top-left{
	position: absolute;
	top: 8px;
	left: 16px;
	padding: 56px;

}

.imager h2{
	padding-top: 55px;
	color: white;
	font-size: 74px;
    text-align: center !important;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	
}
.imager p{
	padding-top: 150px;
	display: inline;
	color: white;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 60%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);

}

.checker input{
	margin-right: 50px;
}

.scroll{
	position: absolute;
	top:120%;
	left: 50%;
}

a{
	color: white;
	margin-right: 50px;
	text-decoration: none;
	transition: all 500ms ease-in-out;
}

.linker{
	color: #fff;
	justify-content: space-between;
	display: inline-block;
	padding: 60px;
	position: absolute;
	top: 8px;
	right: 16px;
}

/*@media(max-width: 200px){

 	.header{
 		padding: 30px;
 		height: 750px;
 	}

 	.header img{
 		width:5%;
 		height: 300px;
 		margin: 20px 0 0 20px;
 	}

 	.header .btn{
 		font-size: 10px;
 		margin-left: 20px;
 	}
 	
 	.header p{
 		font-size: 10px;
 	}
 }*/
/*end header*/


/*header*/
.checker{
	/*width: 100%;
	min-height: 200px;*/
	padding:20px 30px;
	background-color: grey;
}
/*end header*/
.btn{
	float:right;
}