
html,body{
	margin: 0px;
	padding: 0px;
}


/*start header*/
.imager .container-fluid{ 
	margin-top:1em;
	background-image: url('assets/backgrounds/hero.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center, center;
    padding-top: 20em;
    padding-bottom: 54em;
    color: #ffffff;
}


.top-left{
	position: absolute;
	top: 8px;
	left: 1px;
	padding: 56px;

}

.imager h2{
	padding-top: 55px;
	color: white;
	font-size: 74px;
    text-align: center !important;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	
}
.imager p{
	padding-top: 150px;
	display: inline;
	color: white;
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 60%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);

}

.scroll{
	position: absolute;
	top:120%;
	left: 50%;
}

.imager a{
	color: white;
	margin-right: 50px;
	text-decoration: none;
	transition: all 500ms ease-in-out;
}

.linker{
	color: #fff;
	justify-content: space-between;
	display: inline-block;
	padding: 60px;
	position: absolute;
	top: 8px;
	right: 16px;
}


@media(max-width: 768px){
 	.imager .container-fluid{ 
	margin-top:0.01em;
	}
 	.scroll{
	    top:138%;
 	}
 	.top-left{
	padding: 18px;

}
    .linker{
    	right:10px;
    	padding: 27px;
    }

.top-left img{
	width: 100px;
	height: 47px;
}
.imager h2{
	font-size:40px;
}
.imager p{
	font-size: 16px;
	padding-top: 80px;
}

 }
/*end header*/


/*selection*/
.checker{
	color: #333333;
	text-transform: uppercase;
	padding:50px 50px;
	background-color: #C6BFA5;
}

.checker form input{
	margin-left: 5em;
}


.btn{
	float:right;
	border-color: #661A02;
	background-color: #661A02;
}

 @media(max-width: 768px){
 	.checker form input{
	margin-left: 0.1em;
}
}



/*end selection*/

/*products*/

.green {
  background-color: #2DB200;
}
.purple {
  background-color: #0000FE;
}
.gray {
  background-color: #535154;
}

.sphere {
  height: 15px;
  width: 16px;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
  display: inline-block;
  margin: 0.07%;
}


.fives .purples {
  background-color: #D4A7AC;
}
.fives .white{
  background-color: white;
}

.fives .sphere {
  height: 15px;
  width: 16px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin: 1%;
}

.products .container{
	margin: 20px auto 100px 210px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.products .container .box{
	position: relative;
	width: 300px;
	height: 300px;
	background: #F5F5F3;
	margin: 17px;
	box-sizing:border-box;
	display: inline-block;
}

.products .container .box .imgBox{
	position: relative;
	overflow: hidden;
}

.container .box:hover{
	border: 4px solid #A99B76;
	transition: all 500ms ease-in-out;
}


.container .box .imgBox img{
	max-width: 90%;
	padding: 3em;

}

.container .box .size{
	position: absolute;
	font-weight: 550;
	color: black;
	top: 18px;
	left:10px;
	bottom: 10px;
	right: 200px;
}

.container .box .five{
	position: absolute;
	font-weight: bold;
	top: 19px;
	left:230px
	bottom: 10px;
	right: 12px;
}
.container .box .fives{
	position: absolute;
	font-weight: bold;
	top: 8px;
	left:230px
	bottom: 10px;
	right: 12px;
}
.container .box .type{
	position: absolute;
	color: #A99B76;
	top: 250px;
	left:10px;
	font-weight: bold;
}
.container .box .typet{
	position: absolute;
	color: #A99B76;
	top: 248px;
	left:10px;
	font-weight: bold;
}
.container .box .imgBoxe img{
	max-width: 94%;
	padding: 3.8em;

}

.container .box .imgBox img{
	max-width: 80%;
	padding: 3.5em;

}

.container .box .prize{
	position: absolute;
	font-weight: bold;
	top: 250px;
	left:230px;
}

.container .box .prizet{
	position: absolute;
	font-weight: bold;
	top: 247px;
	left:236px;
}

.strike {
    display: block;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 4em;
    margin-left: 17em;
    margin-right: 15em;
}

.strike span {

    position: relative;
    display: inline-block;
}

.strike span:before,
.strike span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 920px;
    height: 2px;
    background: #908361;
}

.strike span:before {
    right: 100%;
    margin-right: 15px;
}

.strike span:after {
    left: 100%;
    margin-left: 15px;
}


.stroke {
    display: block;
    text-align: right;
    overflow: hidden;
    white-space: nowrap; 
    margin-top: 4em;
    margin-left: 1em;
    margin-right: 27em;
}

.stroke span {

    position: relative;
    display: inline-block;
}

.stroke span:before,
.stroke span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 900px;
    height: 2px;
    background: #908361;
}

.stroke span:before {
    right: 100%;
    margin-right: 15px;
}

.stroke span:after {
    left: 100%;
    margin-left: 15px;
}
 
  @media(max-width: 768px){
 .products .container{
	margin: 5px auto 15px 70px;
	flex-direction: column;
}
 .container .box .imgBoxe img{
	max-width: 93%;
}

.container .box .imgBox img{
	max-width: 78%;

}
.container .box:hover{
	border: 4px solid #A99B76;
	transition: all 500ms ease-in-out;
}
.strike span:before {
    right: 100%;
    margin-right: 50px;
}

.strike span:after {
    left: 100%;
    margin-left: 5px;
}

.strike {
    margin-left: 7em;
}
.strike span:before,
.strike span:after {
    width: 800px;
}
.stroke {
    margin-right: 8.5em;
}

.stroke span:before,
.stroke span:after {
  
    width: 230px;
}

 }

/*end products*/
 
/*about*/
.about .container-fluid{

    height: 600px;
	background-image: url('assets/backgrounds/about.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    padding-right: 20em;
    padding-left: 5em;
    padding-top: 8em;
    padding-bottom: 15em;
    color: #ffffff;
	
}

.about p{      
	border: 3px solid #908361;
	font-size: 30px;
	line-height: 35px;
	height: 280px;
	padding: 70px;
	width: 80%;
	margin-left: 6em;
	margin-right: 8em;
}

 @media(max-width: 768px){
.about h2{
	width: 100%;
	margin-left: 4em;
}

.about .container-fluid p{  
 		width: 230%;
 		margin-left: 10px;
	font-size: 28px;
	height: 340px;
	padding: 35px;
 }
}
/*end about*/

/*promo*/
.promo{
	color: white;
	padding-bottom: 50px;
	font-size: 20px;
	height: 80px;
	background-color: #535154;
}
.promo p{
	padding-top: 20px;
	padding-right: 390px;
}


.promo .tweet_icon{
	position: relative;
	top: -40px;
	left: 15px;
	padding-bottom: -100px;

}

@media(max-width: 768px){
	.promo p{
	float: right;
	font-size: 11px;
	padding-top: 27px;
	padding-right: 0.01em;
}

.promo .tweet_icon{
	position: relative;
	top: 18px;
	left: -2px;

}
}

/*end promo*/

/*footer*/
.footer{
	padding-top: 55px; 
	text-align: left;
	height:340px;
	font-weight: 100px !important;
	background-color: #414141;
	color:#fff;
}

.footer .one{
	padding-top: 50px;
}
.footer .one p{
	text-align: left;
	text-transform: uppercase;
	line-height: 35px;


}
.footer .two h4, p{
	text-align: center;
	
}

.footer .two p{
	padding-top: 35px;
}


.footer .final{
	padding-top: 70px;
}
.footer .final h4{
	text-align: right;
	font-size: 16px;

}
.footer .final p{
	text-align: right;
	font-size: 28px;
}

.footer img{
	
	padding:15px;
}


@media(max-width: 768px){
.footer{
	padding-top: 3px; 
	text-align: center;
	height:660px;
}
.footer .one p{
	text-align: center;
	padding-bottom: 25px;
}
.footer img{
	
	padding:30px;
}
.footer .final h4{
	text-align: center;

}
.footer .final p{
	text-align: center;
}
.footer .final{
	padding-top: 40px;
}
}

/*end footer*/


